.footer {
    background-color: #282c34; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centra el texto */
}

.footer-content {
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenido */
    font-family: "Source Sans Pro", sans-serif; /* Fuente atractiva */
    padding-left: 20px; /* Añade un poco de espacio a la izquierda */
    padding-right: 20px; /* Opcional: espacio a la derecha */
}

.footer p {
    margin: 5px 0; /* Espaciado entre párrafos */
    font-size: 0.9rem; /* Tamaño de texto */
    text-align: left; /* Alinea el texto a la izquierda */
}
