h2 {
    margin: 0 auto;
    padding: 10px;
    font-size: 2rem;
    color: var(--text-color); /* Cambiado a variable */
    text-align: center;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 20px auto;
    max-width: 1200px;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff; /* Cambiado a variable */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s; /* Añadido cambio de fondo */
}

.tech-item:hover {
    transform: scale(1.05);
}

.tech-item span {
    margin-top: 5px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9rem;
    color: var(--text-color); /* Cambiado a variable */
}

.tech-item svg {
    width: 40px;
    height: 40px;
}
