.name {
    padding: 40px;
    background-color: #f9f9f9; /* Fondo suave */
    text-align: center; /* Centra el texto */
    font-size: large;
}

.contact-info {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columnas */
    align-items: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center; /* Centra los iconos y el texto */
    gap: 10px; /* Espacio entre el icono y el texto */
    padding: 10px 20px;
    border-radius: 10px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco para cada item */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s; /* Transición al cambiar el fondo */
}

.contact-item:hover {
    background-color: #e6e6e6; /* Fondo al pasar el mouse */
}

.contact-icon {
    font-size: 1.5rem; /* Tamaño del icono */
    color: #333; /* Color del icono */
}
